.wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #64ffda;
  margin-top: 48px;

  &:hover,
  &:focus,
  &:active {
    outline: 0;

    &:after {
      top: 10px;
      left: 10px;
    }

    .img {
      filter: none;
      mix-blend-mode: normal;
    }
  }

  .img {
    position: relative;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    object-fit: cover;
    height: 367px;
    width: 100%;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:before {
    top: 0;
    left: 0;
    background-color: #0a192f;
    mix-blend-mode: screen;
  }

  &:after {
    border: 2px solid #64ffda;
    top: 16px;
    left: 16px;
    z-index: -1;
  }
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  grid-gap: 0 10px;
  padding: 0;
  overflow: hidden;
  list-style: none;

  li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'SF Mono';
    font-size: 12px;

    &:before {
      content: '▹';
      position: absolute;
      left: 0;
      color: #64ffda;
      font-size: 12px;
      line-height: 12px;
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 448px;
    margin-top: 56px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 512px;
  }
}
